@import url(reset.css);

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #848FAC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #192252;
}

h1 {
    font-size: 48px;
}

h2, h3 { 
    font-size: 36px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.default__btn {
    color: #FFF;
    border: 2px solid #0E1734;
    border-radius: 4px;
    background: #0E1734;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__top {
    margin-top: 37px;
}

.header__top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #192252;
}

.menu__list {
    display: flex;
}

.menu__list_item {
    margin-right: 32px;
}
.menu__link {
    color: #192252;
    font-weight: 500;
    font-size: 16px;
}

.header__btn {
    padding: 14px 16px;
}

.header__content {
    padding-top: 80px;
}

.header__content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content_block {
    width: 522px;
}

.header__content_text {
    width: 485px;
    margin-top: 25px;
}

.header__content_btn {
    display: block;
    padding: 16px 32px;
    width: 156px;
    margin-top: 30px;
}

.header__content_img {
    background-image: url(../img/header/header_img.png);
    background-size: cover;
    width: 588px;
    height: 685px;
}

.about {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about__content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content_block {
    width: 615px;
}

.about__content_img {
    background-image: url(../img/about/about.png);
    background-size: cover;
    width: 384px;
    height: 576px;
}

.about__content_text {
    margin-top: 24px;
    width: 566px;
}

.about__content_btn {
    display: block;
    padding: 16px 32px;
    width: 156px;
    margin-top: 30px;
}

.benefit {
    padding-top: 80px;
    padding-bottom: 80px;
}

.benefit__content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit__text_block {
    width: 584px;
}

.benefit__content_text {
    margin-top: 24px;
}

.benefit_img_01 {
    background-image: url(../img/benefit/benefit_01.png);
    background-size: cover;
    width: 384px;
    height: 384px;
}

.benefit_img_02 {
    background-image: url(../img/benefit/benefit_02.png);
    background-size: cover;
    width: 384px;
    height: 384px;
}

.benefit__content_block_two {
    margin-top: 30px;
}

.reservation {
    padding-top: 80px;
    padding-bottom: 80px;
}

.reservation__title_block {
    align-items: center;
    text-align: center;
    width: 588px;
    margin: 0 auto;
}

.reservation__text {
    margin-top: 24px;
}

.reservation__btn {
    display: block;
    padding: 16px 32px;
    width: 170px;
    margin: 30px 200px;
}

.reservation__content_block {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
}

.reservation__content_item {
    width: 384px;
}

.reservation__content_title {
    color: #000;
    margin-top: 30px;
}

.reservation__content_text {
    margin-top: 16px;
    
}

.reservation__link {
    margin-top: 30px;
    color: #424F7B;
    display: flex;
}

.icon_arrow_right {
    background-image: url(../img/Arrow_Right.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: 13px;
}

.reservation__content_img_01 {
    background-image: url(../img/reservation/img_01.png);
    background-size: cover;
    width: 384px;
    height: 489px;
}

.reservation__content_img_02 {
    background-image: url(../img/reservation/img_02.png);
    background-size: cover;
    width: 384px;
    height: 489px;
}

.reservation__content_img_03 {
    background-image: url(../img/reservation/img_03.png);
    background-size: cover;
    width: 384px;
    height: 489px;
}

.room {
    padding-top: 80px;
    padding-bottom: 80px;
}

.room__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room__content_title_block {
    width: 420px;
}

.room__text_addition {
    font-size: 16px;
    font-weight: 500;
    color: #424F7B;
    line-height: 150%;
}

.room__content_title {
    margin-top: 12px;
}

.room__content_text {
    margin-top: 24px;
    width: 384px;
}

.room__content_block_btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.room__content_btn {
    display: block;
    width: 152px;
    height: 51px;
    padding: 16px 32px;
}

.room__content_link_addition {
    color: #0E1734;
    font-size: 16px;
    font-weight: 500;
    margin-left: 24px;
}

.room__content_item {
    width: 588px;
    height: 100px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room__content_item_title {
    padding: 32px 0px 32px 36px;
    font-size: 24px;
}

.room__content_icon__stroke {
    width: 40px;
    height: 40px;
    background: #FFECE2;
    border-radius: 25px;
    margin-right: 36px;
    cursor: pointer;
    background-image: url(../img/Arrow_Down.svg);
    background-size: cover;
}

.testimoni {
    padding-top: 80px;
    padding-bottom: 80px;
}

.testimoni__content {
        text-align: center;
}

.testimoni__content_title {
    margin-bottom: 60px;
}

.testimoni__content_img {
    background-image: url(../img/testimoni/woman.png);
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.testimoni__content_text {
    width: 794px;
    margin: 44px 170px;
}

.testimoni__content_name {
    font-size: 20px;
    font-weight: 500;
    color: #192252;
}

.footer {
    background: #0B265A;
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__container_one {
    width: 178px;
}

.footer__logo_link  {
    color: #FFF;
}

.footer__text {
    margin-top: 13px;
    font-size: 16px;
    color: #D9DBDE;
}

.footer__social_link {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__twitter_logo {
    background-image: url(../img/footer/twitter.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
}

.footer__instagram_logo {
    background-image: url(../img/footer/instagram_logo.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
}

.footer__facebook_logo {
    background-image: url(../img/footer/facebook.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
}

.footer__container_two {
    display: flex;
    justify-content: space-between;
    width: 556px;
}

.footer__list_title {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

.footer__list_item {
    margin-top: 24px;
}

.footer__list_link {
    font-size: 16px;
    color: #D9DBDE;
}



